.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-block: 4rem;

  border-radius: 8px;
  border-top: 1px solid var(--gray-400);
}

.main p {
  margin-top: 1rem;

  color: var(--gray-300);
  line-height: 1.4;
}